DOCKER_NETWORK_NAME=basket-conversions_baskets
DOCKER_VRSC_NET_NETWORK_SUBNET=172.200.0.0/24
###
VRSC_VERUSD_IPV4=172.200.0.2
VRSC_RUST_RPC_SERVER_IPV4=172.200.0.254
VRSC_RPC_USER=userCHANGEMECHANGEME
VRSC_RPC_PASS=passCHANGEMECHANGEME
VRSC_RPC_URL=172.200.0.2:27486
VRSC_LISTEN_PORT=15254
###
VARRR_VERUSD_IPV4=172.200.0.100
VARRR_RUST_RPC_SERVER_IPV4=172.200.0.253
VARRR_RPC_USER=userCHANGEME
VARRR_RPC_PASS=passCHANGEME
VARRR_RPC_URL=172.200.0.100:20778
VARRR_LISTEN_PORT=15253
###
VDEX_VERUSD_IPV4=172.200.0.200
VDEX_RUST_RPC_SERVER_IPV4=172.200.0.252
VDEX_RPC_USER=userCHANGEME
VDEX_RPC_PASS=passCHANGEME
VDEX_RPC_URL=172.200.0.200:21778
VDEX_LISTEN_PORT=15252
###
CHIPS_VERUSD_IPV4=172.200.0.220
CHIPS_RUST_RPC_SERVER_IPV4=172.200.0.251
CHIPS_RPC_USER=userCHANGEME
CHIPS_RPC_PASS=passCHANGEME
CHIPS_RPC_URL=172.200.0.220:22778
CHIPS_LISTEN_PORT=15251
